body {
    color: #40515E;
    margin: 0px;
    text-align: center;
    font-family: 'Merriweather', serif;
}


.bottom-container {
    background-color: #81d3d3;
    padding: 50px 0px 10px;
}

.middle-container{
    margin-top: 40px;
}

.speciality {
    font-weight: bolder;
}

a {
    color: #11999E;
    font-size: 23px;
    margin: 10px 30px;
}

a:hover {
    color: #EAF6F6;
}

.btn {
    -webkit-border-radius: 6;
    -moz-border-radius: 6;
    border-radius: 6px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 20px;
    background: #11999E;
    margin: 10px auto 40px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}

.btn:hover {
    background: #79a5a7;
    background-image: -webkit-linear-gradient(top, #8cc0c2, #3498db);
    background-image: -moz-linear-gradient(top, #8cc0c2, #3498db);
    background-image: -ms-linear-gradient(top, #8cc0c2, #3498db);
    background-image: -o-linear-gradient(top, #8cc0c2, #3498db);
    background-image: linear-gradient(to bottom, #8cc0c2, #3498db);
    text-decoration: none;
}

h1 {
    line-height: 2;
    color: #66BFBF;
    font-size: 3.625rem;
    margin: 25px auto 0px auto;
    font-family: 'Sacramento', cursive;
}

h2 {
    color: #66BFBF;
    margin: 0px auto 30px auto;
    font-size: 2.0rem;
    font-family: 'Montserrat', sans-serif;
}

h3 {
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
    margin-top: 30px;
}

hr {
    border: none;
    border-top: 10px dotted #aeb8b8;
    width: 5%;
    margin: 50px auto 50px auto;
}

p{
    width: 80%;
    margin: 0px auto 0px auto;
}

.contact-me {
    padding: 20px 0px 40px;
}

.DP {
    width: 12%;
}

.lang {
    margin-top: 50px;
    width: 10%;
    
}

.copyright {
    margin-top: 30px;
    color: #EAF6F6;
    font-size: 0.85rem;
    padding: 20px 0px;
}

.skill-row {
    width: 50%;
    margin: 70px auto 70px auto;
}

.wd{
    width: 10%;
    float: left;
}
.top-container {
    padding-top: 100px;
    position: relative;
    background-color: #e2f7f3;
}

.top-cloud {
    height: 100px;
    position: absolute;
    left: 10%;
}

.bottom-cloud {
    height: 100px;
    position: absolute;
    right: 10%;
}

.mountain {
    width: 62%;
}

.skill-row2{
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    line-height: 2;
}

.cp-image{
    width: 15%;
    float: left ;
    margin-right: 110px;
}

.wd-image{
    width: 15%;
    float: right;
    margin-top: 20px;
}

.wd-para{
    margin: auto 0px auto;
}